<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2 style="color:darkslategrey">ISP review</h2>
        <div>
            <p style="text-align: justify;">ISP review is a project built on top of Google M-Lab WebSocket Client.
            With this application not only you can test your internet upload and download speed but also you can measure the
            quality of your network and compare the results with the people around you.
            </p>
            <hr>
            <h4 style="color:darkslategrey">
                Who is M-Lab?
            </h4>
            <hr>
            <p style="text-align: justify;">
                M-Lab is a consortium of research, industry, and public interest partners dedicated to providing an ecosystem for the open, verifiable measurement of global network performance.
                As a collaborative effort, M-Lab depends on the support and involvement of likeminded people and organizations.
                If you'd like to be a part of the largest open measurement effort on the planet, don't hesitate to get involved.
                More details on Google M-Lab project: <a href="http://www.measurementlab.net/">M-Lab</a>
            </p>
            <hr>
            <h4 style="color:darkslategrey">
                What is different about ISP-Reviewer?
            </h4>
            <hr>
            <p style="text-align: justify;">
                By creating an account and joining the platform you can create a profile for your home Internet vs work and mobile. And the results of each test will be saved
                for the particular profile you are testing on. You can therefore, see the history of your tests and how the quality of the service changes based on the day of the week and
                time of the day.
            </p>
            <p>
                The best part is that you can compare the quality of your service and the price you are paying for that service to your neighbours and maybe switch your internet provider if
                you are seeing better offers from other ISPs to your neighbours. This will hopefully break down the monopoly of ISPs and bring them into a competition to provide a higher
                quality service with a more reasonable price.
            </p>
            <hr>
            <h4 style="color:darkslategrey">
                Want to learn more?
            </h4>
            <hr>
            <li>
                <a href="https://docs.google.com/uc?export=download&id=0B1Z3slE8kdgmSkE2NGdCYTFuLTQ">A brief overview of Mlab</a>
            </li>
            <li>
                <a href="http://www.measurementlab.net/tools/ndt">NDT test project</a>
            </li>
            <li>
                <a href="http://seattlegig.net/">A similar project in Seattle</a>
            </li>
        </div>
    </div>
</div>




