{% load staticfiles %}
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
        <img style="max-width:170px; max-height: 80px; margin-left: 0; padding-left: 3px; padding-right: 3px;"
            src="{% static 'images/logo-2.png' %}">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/contact"><p class="md-button" translate="CONTACT"></p></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/about"><p class="md-button" translate="ABOUTUS"></p></a></li>
        </ul>
        {% if  user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li ng-controller="LoginController as vm"><a href="/settings/{{ user.username }}"><p class="md-button">{{ user.username }}</p></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-controller="LoginController as vm"><a href="javascript:void(0)" ng-click="vm.logout()"><p class="md-button" translate="LOGOUT"></p></a></li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><p class="md-button" translate="LOGIN"></p></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register"><p class="md-button" translate="REGISTER"></p></a></li>
            </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/speedtest"><p class="md-button" translate="TEST_YOUR_SPEED"></p></a></li>
        </ul>
      </div>
    </div>
</div>