<div class="container well" style="background-color: #f7f7f7;">
    <div class="row" style="margin-top:10px;">
        <div class="col-lg-3 col-lg-offset-0">
          <tabset vertical="true" type="pills" class="well">
            <tab active="vm.activeUserInfo">
                <tab-heading>
                    <i class="fa fa-user"></i> <span translate="USERINFO"></span>
                </tab-heading>
            </tab>
            <tab active="vm.activeUpdatePassword">
                <tab-heading>
                    <i class="fa fa-lock"></i> <span translate="UPDATEPASSWORD"></span>
                </tab-heading>
            </tab>
            <tab active="vm.activeProfile">
                <tab-heading>
                    <i class="fa fa-folder-open"></i> <span translate="PROFILES"></span>
                </tab-heading>
            </tab>
            <tab active="vm.activeAnalytics">
                <tab-heading>
                    <i class="fa fa-bar-chart"></i> <span translate="ANALYTICS"></span>
                </tab-heading>
            </tab>
            <tab active="vm.activeDeactivation">
                <tab-heading>
                    <i class="fa fa-user-times"></i> <span translate="ACCOUNTDEACTIVATION"></span>
                </tab-heading>
            </tab>
          </tabset>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success" ng-show="vm.activeUserInfo">
                <div class="well" id="user-info" style="margin-bottom: 0px;">
                  <div class="form-group">
                    <label for="user-username" translate="USERNAME"></label>
                    <p>{{ vm.username }}</p>
                  </div>
                  <div class="form-group">
                    <label for="user-email" translate="USEREMAIL"></label>
                    <p>{{vm.email}}</p>
                  </div>
                  <div class="form-group">
                    <label for="user-createdAt" translate="CREATEDAT"></label>
                    <p>{{ vm.createdAt | date }}</p>
                  </div>
                  <div class="form-group">
                    <label for="user-updatedAt" translate="LASTUPDATE"></label>
                    <p>{{ vm.updatedAt | date }}</p>
                  </div>
                </div>
            </div>
            <div class="panel panel-success" ng-show="vm.activeUpdatePassword">
                <div class="well" id="update-password" style="margin-bottom: 0px;">
                    <form role="form" novalidate name="updatePasswordForm" ng-submit="vm.updatePassword()">
                         <md-input-container>
                            <label translate="CURRENTPASSWORD"></label>
                            <input type="password" class="form-control" id="updatePassword__user_password"  name="user_password" ng-model="vm.user_password" dir="ltr" required/>
                            <div ng-messages="updatePasswordForm.user_password.$error">
                                <div class="text-warning" ng-show="updatePasswordForm.user_password.$invalid && updatePasswordForm.user_password.$dirty">
                                    {{vm.getError(updatePasswordForm.user_password.$error)}}
                                </div>
                            </div>
                         </md-input-container>
                        <md-input-container>
                          <label translate="NEWPASSWORD"></label>
                          <input type="password" class="form-control" id="updatePassword__new_password" name="new_password" ng-model="vm.new_password"
                                 ng-minlength="8" ng-maxlength="24" ng-pattern="/^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[\d\W]).*$/" dir="ltr" required/>
                          <div ng-messages="updatePasswordForm.new_password.$error">
                              <div class="text-warning" ng-show="updatePasswordForm.new_password.$invalid && updatePasswordForm.new_password.$dirty">
                                    {{vm.getError(updatePasswordForm.new_password.$error, 8, 24)}}
                              </div>
                          </div>
                        </md-input-container>
                        <md-input-container>
                          <label translate="CONFIRMPASSWORD"></label>
                          <input type="password" class="form-control" id="updatePassword__confirmPassword"  name="confirm_password" ng-model="vm.confirm_password"
                                 ng-minlength="8" ng-maxlength="24" ng-pattern="/^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[\d\W]).*$/" pw-check="updatePassword__new_password" dir="ltr" required/>
                          <div ng-messages="updatePasswordForm.new_password.$error">
                              <div class="text-warning" ng-show="updatePasswordForm.confirm_password.$invalid && updatePasswordForm.confirm_password.$dirty">
                                    {{vm.getError(updatePasswordForm.confirm_password.$error, 8, 24)}}
                              </div>
                          </div>
                        </md-input-container>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-disabled="updatePasswordForm.$invalid">{{ 'SUBMIT' | translate }}</button>
                      </div>
                    </form>
                </div>
            </div> <!--Update Password-->
            <div class="panel panel-success" ng-show="vm.activeDeactivation">
                <div class="well"  id="account-deactivation" style="margin-bottom: 0px;">
                    <div class="form-group">
                        <p translate="ACCOUNTDEACTIVATIONMSG"></p>
                        <button  class="btn btn-warning" ng-click='vm.deactivationOpenModal()'>
                            <span translate="DEACTIVATE"></span>
                        </button>
                    </div>
                </div>
            </div> <!--More information-->
            <div class="panel panel-success" ng-show="vm.activeProfile">
                <h3 style="text-align: center; margin-bottom: inherit;">Under Construction</h3>
            </div>
            <div class="panel panel-success" ng-show="vm.activeAnalytics">
                <h3 style="text-align: center; margin-bottom: inherit;">Under Construction</h3>
            </div>
        </div>
    </div>
</div> <!--container fluid-->