<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h4 translate="SET_YOUR_PASS"></h4>
    <div class="well">
      <form role="form" novalidate name="setPasswordForm" ng-submit="vm.setPassword()">
        <div class="form-group has-feedback" ng-class="{true:'has-error', false:'has-success'}[setPasswordForm.new_password.$invalid && setPasswordForm.new_password.$dirty]">
          <label for="update__password" translate="NEWPASSWORD"></label>
          <input type="password" class="form-control" id="updatePassword__new_password" name="new_password"
                 ng-model="vm.new_password" placeholder="{{ 'PASSWORD' | translate }}"
                 ng-minlength="8" ng-maxlength="24" ng-pattern="/^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[\d\W]).*$/" dir="ltr" required/>
          <span ng-show="setPasswordForm.new_password.$valid" class="form-control-feedback ltr" aria-hidden="true">
                <i class="fa fa-check-square-o"></i>
          </span>
          <span ng-show="setPasswordForm.new_password.$invalid && setPasswordForm.new_password.$dirty" class="form-control-feedback ltr" aria-hidden="true">
                <i class="fa fa-warning"></i>
          </span>
          <div class="text-warning" ng-show="setPasswordForm.new_password.$invalid && setPasswordForm.new_password.$dirty">
                {{vm.getError(setPasswordForm.new_password.$error, 8, 24)}}
          </div>
        </div><!--New Password-->
        <div class="form-group has-feedback" ng-class="{true:'has-error', false:'has-success'}[setPasswordForm.confirm_password.$invalid && setPasswordForm.confirm_password.$dirty]">
          <label for="update__password" translate="CONFIRMPASSWORD"></label>
          <input type="password" class="form-control" id="updatePassword__confirmPassword"  name="confirm_password"
                 ng-model="vm.confirm_password" placeholder="{{ 'CONFIRMPASSWORD' | translate }}"
                 ng-minlength="8" ng-maxlength="24" ng-pattern="/^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[\d\W]).*$/" pw-check="updatePassword__new_password" dir="ltr" required/>
          <span ng-show="setPasswordForm.confirm_password.$valid" class="form-control-feedback ltr" aria-hidden="true">
                <i class="fa fa-check-square-o"></i>
          </span>
          <span ng-show="setPasswordForm.confirm_password.$invalid && setPasswordForm.confirm_password.$dirty" class="form-control-feedback ltr" aria-hidden="true">
                <i class="fa fa-warning"></i>
          </span>
          <div class="text-warning" ng-show="setPasswordForm.confirm_password.$invalid && setPasswordForm.confirm_password.$dirty">
                {{vm.getError(setPasswordForm.confirm_password.$error, 8, 24)}}
          </div>
        </div><!--Confirm Password-->

        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="setPasswordForm.$invalid" ><span translate="SUBMIT"></span></button>
        </div>

      </form>
    </div>
  </div>
</div>
